@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
}

.pagination-icon{
  padding: 6px;
}